a {
  text-decoration: none;
}
.nav-bar {
  background-color: rgb(35, 47, 62);
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: whitesmoke;
  height: 6.996770721205597vh;
  top: 0;
  margin: -0.9687836383207751vh -1.0764262648008611vh;
}

.hovers:hover {
  cursor: pointer;
  border: solid 1px white;
  margin: -1px;
}

.amazon-logo {
  height: 3em;
}

.nav-right {
  display: flex;
  flex-direction: column;
  color: white;
}
.nav-bottom {
  font-weight: bolder;
}
.shopping-icon {
  color: white;
}
